<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>040000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,110},{104,120}}</string>
                <key>offset</key>
                <string>{24,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,287},{104,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{106,120}}</string>
                <key>offset</key>
                <string>{24,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,287},{106,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,122}}</string>
                <key>offset</key>
                <string>{24,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,285},{110,122}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{108,122}}</string>
                <key>offset</key>
                <string>{25,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,285},{108,122}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{104,120}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,287},{104,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{100,120}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,287},{100,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,112},{102,120}}</string>
                <key>offset</key>
                <string>{25,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,287},{102,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence_up.png</string>
            <key>size</key>
            <string>{512,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:895ab91f598c9a802e21630b09f15e30:e2dfcf96b0acb47ee557cf2b9cca2bfb:66213d3efc1e66d9382c11a6533aa4ec$</string>
            <key>textureFileName</key>
            <string>sequence_up.png</string>
        </dict>
    </dict>
</plist>
