<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000512.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,118},{114,114}}</string>
                <key>offset</key>
                <string>{-16,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,275},{114,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000513.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{114,110}}</string>
                <key>offset</key>
                <string>{-16,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,279},{114,110}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000514.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,266},{118,110}}</string>
                <key>offset</key>
                <string>{-16,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,279},{118,110}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000515.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,146},{118,110}}</string>
                <key>offset</key>
                <string>{-17,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,279},{118,110}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000516.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{114,112}}</string>
                <key>offset</key>
                <string>{-18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,277},{114,112}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000517.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,238},{114,114}}</string>
                <key>offset</key>
                <string>{-16,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,275},{114,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000518.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{112,116}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,273},{112,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000519.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,120},{110,116}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,273},{110,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000520.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{114,114}}</string>
                <key>offset</key>
                <string>{-16,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,275},{114,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020512.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,148},{144,104}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,297},{144,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020513.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{144,104}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,297},{144,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020514.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{142,104}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,298},{142,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020515.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,148},{144,104}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,298},{144,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020516.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{144,104}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,298},{144,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,104}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,298},{148,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{146,104}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,297},{146,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020519.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{146,102}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,298},{146,102}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020520.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,150},{144,104}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,297},{144,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040512.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,232},{112,92}}</string>
                <key>offset</key>
                <string>{15,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,295},{112,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040513.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,294},{114,94}}</string>
                <key>offset</key>
                <string>{15,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,294},{114,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040514.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,296},{118,94}}</string>
                <key>offset</key>
                <string>{15,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,295},{118,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040515.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,294},{116,94}}</string>
                <key>offset</key>
                <string>{16,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,295},{116,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040516.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,114},{112,94}}</string>
                <key>offset</key>
                <string>{17,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,294},{112,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040517.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,234},{112,92}}</string>
                <key>offset</key>
                <string>{16,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,295},{112,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040518.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,210},{110,90}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,295},{110,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{112,90}}</string>
                <key>offset</key>
                <string>{15,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,295},{112,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040520.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,118},{112,92}}</string>
                <key>offset</key>
                <string>{15,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,294},{112,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence.png</string>
            <key>size</key>
            <string>{1024,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:822f69d5fb7f9eeb38a5afdf8464924f:f32feb828da951061c367cb9111d6ba3:48879a00c3f78945a13b18cfbfbfc786$</string>
            <key>textureFileName</key>
            <string>sequence.png</string>
        </dict>
    </dict>
</plist>
