<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>040448.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,116},{112,94}}</string>
                <key>offset</key>
                <string>{15,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,285},{112,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040449.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{112,94}}</string>
                <key>offset</key>
                <string>{16,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,285},{112,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040450.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{114,94}}</string>
                <key>offset</key>
                <string>{16,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,285},{114,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040451.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{114,94}}</string>
                <key>offset</key>
                <string>{16,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,285},{114,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,94}}</string>
                <key>offset</key>
                <string>{15,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,285},{114,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,94}}</string>
                <key>offset</key>
                <string>{14,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,285},{114,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040454.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,116},{112,94}}</string>
                <key>offset</key>
                <string>{14,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,285},{112,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040455.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{110,94}}</string>
                <key>offset</key>
                <string>{15,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,285},{110,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040456.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{112,94}}</string>
                <key>offset</key>
                <string>{15,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,285},{112,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence_up.png</string>
            <key>size</key>
            <string>{512,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8396c62947793fe87cdaf82437a7d35:5b6a582c48869b493efc0b62c21e9bee:66213d3efc1e66d9382c11a6533aa4ec$</string>
            <key>textureFileName</key>
            <string>sequence_up.png</string>
        </dict>
    </dict>
</plist>
