<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000443.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{118,106}}</string>
                <key>offset</key>
                <string>{-18,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,277},{118,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000444.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,152},{116,106}}</string>
                <key>offset</key>
                <string>{-17,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,277},{116,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000445.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,466},{112,106}}</string>
                <key>offset</key>
                <string>{-15,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,277},{112,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000446.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,234},{112,108}}</string>
                <key>offset</key>
                <string>{-14,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,277},{112,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000447.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,352},{112,108}}</string>
                <key>offset</key>
                <string>{-15,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,275},{112,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000448.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,468},{112,108}}</string>
                <key>offset</key>
                <string>{-16,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,275},{112,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000449.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,270},{114,108}}</string>
                <key>offset</key>
                <string>{-17,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,275},{114,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000450.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,462},{116,106}}</string>
                <key>offset</key>
                <string>{-18,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,278},{116,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000451.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,464},{116,106}}</string>
                <key>offset</key>
                <string>{-18,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,279},{116,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000452.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{114,106}}</string>
                <key>offset</key>
                <string>{-18,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,279},{114,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000453.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,116},{112,106}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,278},{112,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000454.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,120},{114,106}}</string>
                <key>offset</key>
                <string>{-16,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,277},{114,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000455.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,114},{110,108}}</string>
                <key>offset</key>
                <string>{-16,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,275},{110,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000456.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{112,108}}</string>
                <key>offset</key>
                <string>{-17,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,275},{112,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020443.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{148,104}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,297},{148,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020444.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,154},{150,104}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,297},{150,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020445.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,156},{152,104}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,297},{152,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020446.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{152,104}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,297},{152,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020447.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{152,104}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,297},{152,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020448.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{150,104}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,297},{150,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020449.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,310},{150,106}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,296},{150,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020450.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,306},{148,106}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,297},{148,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020451.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,456},{148,104}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,298},{148,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020452.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,154},{150,104}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,297},{150,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020453.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,310},{152,102}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,298},{152,102}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,104}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,296},{154,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{152,104}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,296},{152,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020456.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{150,104}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,296},{150,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040443.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,464},{118,88}}</string>
                <key>offset</key>
                <string>{18,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,295},{118,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040444.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{116,88}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,295},{116,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040445.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,434},{112,88}}</string>
                <key>offset</key>
                <string>{15,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,295},{112,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040446.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,344},{112,88}}</string>
                <key>offset</key>
                <string>{13,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,295},{112,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040447.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,226},{110,88}}</string>
                <key>offset</key>
                <string>{14,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,295},{110,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040448.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,118},{114,88}}</string>
                <key>offset</key>
                <string>{15,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,295},{114,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040449.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,236},{114,88}}</string>
                <key>offset</key>
                <string>{16,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,294},{114,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040450.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,352},{114,88}}</string>
                <key>offset</key>
                <string>{18,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,294},{114,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040451.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,236},{114,88}}</string>
                <key>offset</key>
                <string>{18,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,295},{114,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040452.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,230},{112,88}}</string>
                <key>offset</key>
                <string>{17,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,295},{112,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040453.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,348},{112,90}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,294},{112,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040454.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{110,90}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,294},{110,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040455.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,502},{112,90}}</string>
                <key>offset</key>
                <string>{15,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,294},{112,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040456.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,386},{114,88}}</string>
                <key>offset</key>
                <string>{15,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,295},{114,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence.png</string>
            <key>size</key>
            <string>{1024,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d014284b879c6e2a1f6a87658f0285b:abb9d6314f8f55076a16ad6f442a6116:48879a00c3f78945a13b18cfbfbfc786$</string>
            <key>textureFileName</key>
            <string>sequence.png</string>
        </dict>
    </dict>
</plist>
