<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>020512.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,120},{136,116}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,287},{136,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020513.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,120},{134,116}}</string>
                <key>offset</key>
                <string>{-10,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,287},{134,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020514.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,238},{132,116}}</string>
                <key>offset</key>
                <string>{-10,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,287},{132,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020515.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{134,116}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,287},{134,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020516.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,142},{138,116}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,287},{138,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,116}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,287},{140,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020518.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{138,116}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,287},{138,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{138,116}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,287},{138,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020520.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{136,116}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,287},{136,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence_right.png</string>
            <key>size</key>
            <string>{512,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f895f30b70823cae15c400750d8228c5:1ea911455a0725778e3e4184acbf09be:70cb9617449c2eba00ab7b42c32c8c2d$</string>
            <key>textureFileName</key>
            <string>sequence_right.png</string>
        </dict>
    </dict>
</plist>
