<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000704.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,202},{116,120}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,298},{116,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{90,174}}</string>
                <key>offset</key>
                <string>{-6,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,246},{90,174}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000706.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{68,168}}</string>
                <key>offset</key>
                <string>{-4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,241},{68,168}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000707.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,334},{86,160}}</string>
                <key>offset</key>
                <string>{-1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,261},{86,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000708.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,320},{118,110}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,316},{118,110}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000709.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{126,90}}</string>
                <key>offset</key>
                <string>{-20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,336},{126,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000710.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,352},{72,108}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,326},{72,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000711.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,288},{138,116}}</string>
                <key>offset</key>
                <string>{37,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,323},{138,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000712.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{164,104}}</string>
                <key>offset</key>
                <string>{53,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,322},{164,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020704.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{82,112}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,299},{82,112}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020705.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{94,150}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,261},{94,150}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020706.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,210},{114,172}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,239},{114,172}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020707.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,236},{114,118}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,293},{114,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020708.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{104,108}}</string>
                <key>offset</key>
                <string>{29,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,303},{104,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020709.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,94},{124,106}}</string>
                <key>offset</key>
                <string>{36,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,305},{124,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,104}}</string>
                <key>offset</key>
                <string>{70,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,307},{206,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020711.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,170},{164,104}}</string>
                <key>offset</key>
                <string>{43,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,307},{164,104}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020712.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{116,130}}</string>
                <key>offset</key>
                <string>{19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,281},{116,130}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020713.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,154},{120,146}}</string>
                <key>offset</key>
                <string>{21,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,265},{120,146}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020714.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,384},{148,110}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,301},{148,110}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040704.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,148},{116,138}}</string>
                <key>offset</key>
                <string>{31,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,268},{116,138}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040705.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,168},{90,164}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,242},{90,164}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040706.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,302},{68,140}}</string>
                <key>offset</key>
                <string>{3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,266},{68,140}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040707.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,116},{86,118}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,293},{86,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040708.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,274},{118,116}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,289},{118,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040709.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,142},{126,130}}</string>
                <key>offset</key>
                <string>{20,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,274},{126,130}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040710.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{72,144}}</string>
                <key>offset</key>
                <string>{-8,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,260},{72,144}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040711.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{138,116}}</string>
                <key>offset</key>
                <string>{-38,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,288},{138,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040712.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{166,118}}</string>
                <key>offset</key>
                <string>{-52,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,289},{166,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040713.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,336},{150,118}}</string>
                <key>offset</key>
                <string>{-39,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,289},{150,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040714.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,392},{100,114}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,293},{100,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence.png</string>
            <key>size</key>
            <string>{1024,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8550861d87ed2bff71930bef5f4b803b:2c0b7691205b7661196b2d350bd16c55:48879a00c3f78945a13b18cfbfbfc786$</string>
            <key>textureFileName</key>
            <string>sequence.png</string>
        </dict>
    </dict>
</plist>
