<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{86,136}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,293},{86,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,286},{86,134}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,294},{86,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,294},{88,132}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,294},{88,132}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,282},{92,132}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,293},{92,132}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,192},{92,134}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,293},{92,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,202},{90,134}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,294},{90,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,136}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,296},{100,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{100,136}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,295},{100,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,102},{98,136}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,295},{98,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{98,136}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,296},{98,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{100,138}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,295},{100,138}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,138}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,295},{100,138}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,384},{86,116}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,297},{86,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,384},{86,114}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,298},{86,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{88,114}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,298},{88,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,96},{92,116}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,297},{92,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{92,116}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,297},{92,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>040005.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,190},{90,116}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,297},{90,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence.png</string>
            <key>size</key>
            <string>{512,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12aa0946bc9cd409fd14867400baa50f:2c5e2f419eadb9d524bbebe1f6b6fabf:48879a00c3f78945a13b18cfbfbfc786$</string>
            <key>textureFileName</key>
            <string>sequence.png</string>
        </dict>
    </dict>
</plist>
