<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>020704.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,342},{72,128}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,285},{72,128}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020705.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,184},{80,174}}</string>
                <key>offset</key>
                <string>{-1,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,239},{80,174}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020706.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{82,180}}</string>
                <key>offset</key>
                <string>{1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,233},{82,180}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020707.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,230},{110,136}}</string>
                <key>offset</key>
                <string>{-7,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,277},{110,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020708.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,242},{118,118}}</string>
                <key>offset</key>
                <string>{29,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,295},{118,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020709.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{140,116}}</string>
                <key>offset</key>
                <string>{39,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,297},{140,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020710.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,114}}</string>
                <key>offset</key>
                <string>{77,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,299},{216,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020711.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{172,114}}</string>
                <key>offset</key>
                <string>{52,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,299},{172,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020712.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{114,146}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,267},{114,146}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020713.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{108,160}}</string>
                <key>offset</key>
                <string>{17,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,253},{108,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>020714.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,118},{124,122}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,291},{124,122}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sequence_right.png</string>
            <key>size</key>
            <string>{512,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967c5bf6485374ab532db365d8a33ebf:a5d9ba196592f9c130b30c578ecf35ef:70cb9617449c2eba00ab7b42c32c8c2d$</string>
            <key>textureFileName</key>
            <string>sequence_right.png</string>
        </dict>
    </dict>
</plist>
